/* Google Font */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700');

/* ======================== GLOBAL RULES ========================*/
html, 
body {
    /*background-color: lightgray;*/
    font-family: 'Poppins', sans-serif;
    font-size: 0.95em;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
::selection {
    color: #000; 
    background: #ff0;
}
div.wrapper {
    max-width: 1280px;
    background-color: #fff;
    margin: 0 auto;
    overflow: auto;
}
h3, h4, p {
    line-height: 1.6em;
    color: #666;
}


/* ======================== LEFT COL ======================== */

section{
    float: left;
    width: 70%;
    margin-left: 2em;
}
.section-home{
    width: 100%;
    margin: auto;
    padding-top: 4em;
    height: 85vh;
}
.section-home-text{
    padding-right: 6em;
    padding-left: 6em;
}
.section-home img{
    width: 50%;
    float: left;
}
section img{
    display: block;
    width: 80%;
    margin: auto;
}
section h2{
    font-size: 2.5em;
    line-height: 1.2;
    color: #8490ff;
}
section li{
    padding: .5em 0;
}
figure{
    display: inline-block;
    width: 20%;
}
figure a img{
    display: inline-block;
    width: 120%;
}
.smo_phone{
    display: none;
}


/* ======================== RIGHT COL ========================*/
aside{
    float: right;
    width: 20%;
    border: 1px solid #e5e5e5;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 2em;
    margin-right: 2em;
}
aside h3{
    padding-top: .5em;
}
aside img{
    width: 100%;
}
hr{
    border: .5px solid #e5e5e5;
}

blockquote{
    margin-left: 10px;
    margin-right: 10px;
    font-size: .9em;
}

/* ======================== FOOTER ======================== */

.go-to-top{
    position: fixed;
    z-index: 300;
    bottom: 30px;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: #8490ff;
    text-align: center;
    line-height: 30px;
    color: #eee;
}

footer {
    clear: both;
    text-align: center;
    padding: 2em;
}

/* ======================== MEDIA QUERIES ======================== */

/*START EMBED RESPONSIVLY GLOBAL STYLES */
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
}
.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}
/*END EMBED RESPONSIVLY STYLES */


/*HIDE AGENDA VIEW*/
div.embed-container.agenda_view{
    /*display: none;*/
}


/* START - DESKTOP - RESPONSIVE RULES */

@media all and (min-width: 1440px){

}

/* START - TABLET - RESPONSIVE RULES */

@media all and (max-width:960px){
    
    section,
    aside {
        float: none;
        width: 90%;
        margin: auto;
        padding-left: 1em;
        padding-right: 1em;
    }
    
}


/*CALENDAR VIEW RULES for PHONE*/
@media all and (max-width: 860px){
    
    /*SHOW Calendar AGENDA view*/
    div.embed-container.agenda_view{
        display: block;
    }
    
    /*HIDE Calendar MONTH View*/
    div.embed-container.month_view{
        display: none;
    }
    
    aside {
        border: none;
    }
    aside img{
        display: none;
    }
}


/* START - PHONE - RESPONSIVE RULES */

@media all and (max-width:500px){
    
    header h1{
        line-height: 1.1em;
    }
    
    div.embed-container.month_view{
        display: none;
    }
    
    div.embed-container.agenda_view{
       display: block;
    }
    
    section img {
        width: 100%;
    }
    
    .section-home{
        padding-top: 1em;
        width: auto;
        height: 100%;
    }
    .section-home-text{
        padding-right: 0;
        padding-left: 0;
    }
    .section-home img{
        width: 100%;
        float: none;
    }
    
    .aside-mobile{
        display: none;
    }
    aside {
        border: none;
    }
    aside img{
        display: none;
    }
    
    figure{
        margin: 0;
        width: 100%;
        overflow: auto;
    }
    
    .smo_desktop{
        display: none;
    }
    .smo_phone{
        display: block;
    }
    
    .gallery{
        text-align: center;
    }
        
}